<h1>My Inbox</h1>
<ul>
<% @message_items.each do |item| %>
  <% sender = item[:sender_sig]
     receiver = item[:receiver_sig]
     quote = item[:quote]
	 content = item[:content]
	 timestamp = item[:timestamp] %>

  <li>
	<div>Sender: <%= sender %></div>
	<div>Receiver: <%= receiver %></div>
	<div>Quote: <%= quote %></div>
	<div>Content: <%= content %></div>
	<div>Timestamp: <%= timestamp %></div>
  </li>
<% end %>
</ul>
