<h1>My Friends</h1>
<ul>
  <% @accepted_friends.each do |friend| %>
  <li><a href="/profile/<%= friend.username %>"><%= friend.first_name %> <%= friend.last_name %></a></li>
  <% end %>
</ul>

<h1>Unaccepted Friends</h1>
<ul>
  <% @unaccepted_friends.each do |friend| %>

  <script>
    $(document).ready(function() {
      $("#accept-friend<%= friend.id %>").click(function(e) {
        _this = this;
        alert(_this.value);
        $.ajax({
          url: "/friend_request/accept",
          type: "post",
          async: false,
          data: {
            request_id: "<%= friend.request_id %>"
          }
        });
        e.preventDefault();
        location.reload();
      });
    });

    $(document).ready(function() {
      $("#decline-friend<%= friend.id %>").click(function(e) {
        alert();
        $.ajax({
          url: "/friend_request/decline",
          type: "post",
          data: {
            request_id: "<%= friend.request_id %>"
          }
        });
      });
    });

  </script>

  <li>
    <a href="/profile/<%= friend.username %>"><%= friend.first_name %> <%= friend.last_name %></a>
    <button id="accept-friend<%= friend.id %>" class="accept-friend-btn" data-friendid="<%= friend.request_id %>">Accept</button>
    <button id="decline-friend<%= friend.id %>" class="decline-friend-btn" data-friendid="<%= friend.request_id %>">Decline</button>
  </li>
  <% end %>
</ul>

<script>
/*
  $(document).ready(function() {
    $(".accept-friend-btn").click(function(e) {

      var id = $(this).attr("id");                // fetch the id of pressed button
      var friend_id = $(this).data("friendid");   // fetch the id of the friend

      alert(friend_id);

      /* run the ajax */
/*
      $.ajax({
        url: "/friend_request/accept",
        type: "post",
        async: false,
        data: {
          request_id: friend_id
        }
      });
      e.preventDefault();                         // prevent default clicking
      location.reload();                          // reload location
    });

    $(".decline-friend-btn").click(function(e) {
      var id = $(this).attr("id");
      var friend_id = $(this).data("friendid");

      $.ajax({
          url: "/friend_request/decline",
          type: "post",
          data: {
            request_id: friend_id
          }
      });
    });
  });
*/
</script>