<h1>Accepted Friends</h1>
<ul>
  <% @accepted_friends.each do |friend| %>
  <li><a href="/profile/<%= friend.username %>"><%= friend.first_name %> <%= friend.last_name %></a></li>
  <% end %>
</ul>
<h1>Unaccepted Friends</h1>
<ul>
  <% @unaccepted_friends.each do |friend| %>
  <script>
    $(document).ready(function() {
      $("#accept-friend<%= friend.id %>").click(function(e) {
        _this = this;
        alert(this.value);
        $.ajax({
          url: "/friend_request/accept",
          type: "post",
          async: false,
          data: {
            request_id: "<%= friend.request_id %>"
          }
        });
        e.preventDefault();
        location.reload();
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      $("#decline-friend<%= friend.id %>").click(function(e) {
        $.ajax({
          url: "/friend_request/decline",
          type: "post",
          data: {
            request_id: "<%= friend.request_id %>"
          }
        });
      });
    });
  </script>
  <li>
    <a href="/profile/<%= friend.username %>"><%= friend.first_name %> <%= friend.last_name %></a>
    <button id="accept-friend<%= friend.id %>">Accept</button>
    <button id="decline-friend<%= friend.id %>">Decline</button>
  </li>
  <% end %>
</ul>