<div class="friend-list-heading">  
  <h1>
    <% if @unaccepted_friends.length == 1 %>
      1 friend has added you
    <% elsif @unaccepted_friends.length != 0 %>
      <%= @unaccepted_friends.length %> friends have added you
    <% end %>
  </h1>
</div>
<ul class="non-friend-list">
  <% @unaccepted_friends.each do |friend| %>
  <li>
    <a href="/profile/<%= friend.username %>"><%= friend.first_name %> <%= friend.last_name %></a>
    <button id="accept-friend<%= friend.id %>" class="accept-friend-btn secondary-button" data-friendid="<%= friend.request_id %>">Accept</button>
    <button id="decline-friend<%= friend.id %>" class="decline-friend-btn secondary-button" data-friendid="<%= friend.request_id %>">Decline</button>
  </li>
  <% end %>
</ul>

<div class="friend-list-heading">
  <h1>My Friends</h1>
</div>
<ul class="friend-list">
  <% @accepted_friends.each do |friend| %>
  <li><a href="/profile/<%= friend.username %>"><%= friend.first_name %> <%= friend.last_name %></a></li>
  <% end %>
</ul>

<script>
  $(document).ready(function() {
    $(".accept-friend-btn").click(function(e) {

      var id = $(this).attr("id");                // fetch the id of pressed button
      var friend_id = $(this).data("friendid");   // fetch the id of the friend

      alert(friend_id);

      /* run the ajax */

      $.ajax({
        url: "/friend_request/accept",
        type: "post",
        async: false,
        data: {
          request_id: friend_id
        }
      });
      e.preventDefault();                         // prevent default clicking
      location.reload();                          // reload location
    });

    $(".decline-friend-btn").click(function(e) {
      var id = $(this).attr("id");
      var friend_id = $(this).data("friendid");

      alert("declining");

      $.ajax({
          url: "/friend_request/decline",
          type: "post",
          data: {
            request_id: friend_id
          }
      });
      e.preventDefault();
      location.reload();
    });
  });
</script>