<ul class="tabs">
  <li><a href="/profile/<%= username %>">Feed</a></li>
  <li><a href="/profile/<%= username %>/friends">Friends</a></li>
  <li><a href="/profile/<%= username %>/activities">Activities</a></li>
  <li><a href="/profile/<%= username %>/challenges">Challenges</a></li>
  <li><a href="/profile/<%= username %>/messages">Messages</a></li>
</ul>
