<style type="text/css">
  .send_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:131px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    vertical-align:bottom;
  }
    
  .send_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
  }
  
  .send_button:active {
    position:relative;
    top:1px;
  }

  textarea {
    border-color: #ddd;
    border-width: 3px;  
    height: 40px;
    width: 450px;
    resize: none;
    vertical-align:bottom;
  }

</style>
<div class="profile-name">
  <h1><%= @viewed_user.first_name %> <%= @viewed_user.last_name %> (friends)</h1>
</div>
<div class="profile-left-column">
  <div id="profile-mood" class = "filter_header" elem_type = "happiness" header_val = "Recent">
    <h1>Main</h1>
  </div>
  <div id="profile-activities" class = "filter_header" elem_type = "measurement" header_val = "Activities">
    <h1>Activities</h1>
  </div>
  <div id="profile-friends" class = "filter_header" elem_type = "friendship" header_val = "Friends">
    <h1>Friends</h1>
  </div>
  <div id="profile-challenges" class = "filter_header" elem_type = "challenge" header_val = "Challenges">
    <h1>Challenges</h1>
  </div>
  <div id="profile-messages" class = "filter_header" elem_type = "message" header_val = "Messages">
	<h1>Messages</h1>
  </div>
</div>
<div class="profile-right-column">
  <h1 id = "profile-header">Recent</h1>
  
  <div style="text-align: center; border-width: 20px" id ="message-form-div">
	<a href="/profile?mode=inbox">Return to main inbox</a>
    <message_submission>
      <textarea cols="50" rows="4" name="comment" id="comment_area"></textarea>
      <a href="/profile/<%=@viewed_user.username%>?mode=inbox" class = "main-button" id = "send_button_id"> Send Message! </a>
      </message_submission>
  </div>

  <ul class="profile-recent" id="friend-profile-recent">
    <% @newsfeed_hashes.each do |item| %>
      <% time = item[:timestamp] %>

      <% case item[:type]
        when 'challenge'

        challenge = item[:challenge]
        sender = item[:sender]
		receiver = item[:receiver] 
	    activity_type = item[:activity_type]
	 %>
        <li elem_type = "challenge" class ="profile-feed-list-item">
          <p><a href="/profile/<%= sender.username %>"><%= sender.first_name %> <%= sender.last_name %></a> challenged <a href="/profile/<%= receiver.username %>"><%= receiver.first_name %> <%= receiver.last_name %>!</a></p>
		  <p class = "challenge_content" >
		    "<%= challenge.content.capitalize %><% if activity_type != nil %>
		    <a href = "/track?str=<%= activity_type.name %>">#<%= activity_type.name %></a><% end %>" 
		  </p>
		  <p class="time"><%= time.strftime("%b %d, %l:%M %P") %></p>		
		</li>
        
        <% when 'friendship'
          user1 = item[:user_1]
          user2 = item[:user_2] %>
        <li elem_type = "friendship" class ="profile-feed-list-item">
          <% if user1.id == @viewed_user.id %>
          <p><a href="/profile/<%= user1.username %>"><%= user1.first_name %> <%= user1.last_name %></a> became friends with <a href="/profile/<%= user2.username %>"><%= user2.first_name %> <%= user2.last_name %></a></p>
          <% else %>
          <p><a href="/profile/<%= user2.username %>"><%= user2.first_name %> <%= user2.last_name %></a> became friends with <a href="/profile/<%= user1.username %>"><%= user1.first_name %> <%= user1.last_name %></a></p>
          <% end %>
          <p class="time"><%= time.strftime("%b %d, %l:%M %P") %></p>
        </li>

	<% when 'measurement'
	  user = item[:user]
      activity_type = item[:activity_type]
	  measurement = item[:measurement]
	  measurement_type = item[:measurement_type]
	%>
      <li elem_type = "measurement" class = "profile-feed-list-item">
	    <p><a href = "/profile/<%= user.username %>"><%= user.username %></a> logged a measurement:</p>
	    <p class = "measurement_content">
	      <a href = "/track?str=<%= activity_type.name %>"><%= activity_type.name.capitalize %></a> :
	      <%= measurement.value %> <%= measurement_type.name %>
	    </p>
	    <p class="time"><%= time.strftime("%b %d, %l:%M %P") %></p>
	 </li>

    <% when 'message'
	  sender = item[:sender_sig]
	  receiver = item[:receiver_sig]
	  content = item[:content]
  %>
    <li elem_type = "message" class = "profile-feed-list-item">
      <p> 
	    <a href = "/profile/<%= sender %>"> <%=sender %></a>  messaged  <a href = "/profile/<%= receiver %>"> <%= receiver %></a>:
	  </p>
	  <p class = "challenge_content" >"<%= content %>"</p>
	  <p class="time"><%= time.strftime("%b %d, %l:%M %P") %></p>
	</li>
   <% else %>

      <% end %>
  <% end %>
  </ul>
</div>

<script>
	function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	  var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	  results = regex.exec(location.search);
	  return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}

	$(document).ready(function() {
	  var mode = getParameterByName('mode');
	  console.log("Mode: " + mode);
	  if (mode == 'inbox') {
		$("#message-form-div").show();
		console.log($("#profile-header").text("Messages"));  
	    $(".profile-feed-list-item").each(function (i, elem) {
	      var list_elem_type = $(this).attr("elem_type");
	      $(this).show();
	      if (list_elem_type != 'message') {
			  $(this).hide();
		  }
	    });
	   } else {
	     $("#message-form-div").hide();
	   }
   }); 

	$(".filter_header").click(function() {
      var elem_type = $(this).attr("elem_type");
	  var header_val = $(this).attr("header_val");
	  console.log($("#profile-header").text(header_val));
	  if (header_val != "Messages") {
	    $("#message-form-div").hide();
      } else {
		$("#message-form-div").show();
	  }

	  $(".profile-feed-list-item").each(function (i, elem) {
        var list_elem_type = $(this).attr("elem_type");
        $(this).show();
	    if (list_elem_type != elem_type && elem_type != 'happiness') {
	      $(this).hide();
	    }
      }); 
    });

	$("#send_button_id").click(function() {
      var text_content = $("#comment_area").val();
      $.post("/messages/new",
      {
        sender_id:<%= current_user.id %>,
        receiver_id: <%= @viewed_user.id %>,
        content:text_content    
      },
      function(data,status) {
        location.reload();
      });
    });
</script>
