<div class="profile-name">
  <h1><%= @viewed_user.first_name %> <%= @viewed_user.last_name %> (friends)</h1>
</div>
<div class="profile-left-column">
  <div id="profile-mood">
    <h1>Happiness</h1>
  </div>
  <div id="profile-activities">
    <h1>Activities</h1>
  </div>
  <div id="profile-friends">
    <h1>Friends</h1>
  </div>
  <div id="profile-challenges">
    <h1>Challenges</h1>
  </div>
  <div id="profile-messages">
    <h1>Messages</h1>
  </div>
</div>
<div class="profile-right-column">
  <h1>Recent</h1>
  <ul class="profile-recent" id="friend-profile-recent">
    <% @newsfeed_hashes.each do |item| %>
      <% time = item[:timestamp] %>

      <% case item[:type]
        when 'challenge'

        challenge = item[:challenge]
        sender = item[:sender]
        receiver = item[:receiver] %>
        <li>
          <p><a href="/profile/<%= sender.username %>"><%= sender.first_name %> <%= sender.last_name %></a> challenged <a href="/profile/<%= receiver.username %>"><%= receiver.first_name %> <%= receiver.last_name %>!</a></p>
          <p class="time"><%= time.strftime("%b %d, %l:%M %P") %></p>
          <p><%= challenge.content %></p>
        </li>
        
        <% when 'friendship'
          user1 = item[:user_1]
          user2 = item[:user_2] %>
        <li>
          <% if user1.id == @viewed_user.id %>
          <p><a href="/profile/<%= user1.username %>"><%= user1.first_name %> <%= user1.last_name %></a> became friends with <a href="/profile/<%= user2.username %>"><%= user2.first_name %> <%= user2.last_name %></a></p>
          <% else %>
          <p><a href="/profile/<%= user2.username %>"><%= user2.first_name %> <%= user2.last_name %></a> became friends with <a href="/profile/<%= user1.username %>"><%= user1.first_name %> <%= user1.last_name %></a></p>
          <% end %>
          <p class="time"><%= time.strftime("%b %d, %l:%M %P") %></p>
        </li>

        <% else %>

      <% end %>
    <% end %>
  </ul>
</div>