<style type="text/css">
  #left_col {
    float:left;
	width:450px;
  }

  #right_col {
    float:right;
	width:450px;
  }

  hr {
	height:1px;
	background-color:#7f8381;
	border:none;
  }
  
  h1 {
    font-weight:bold;
	text-align:center;
  }

  h2 {
    font-weight:bold;
	text-align:center;
  }

  .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }

  .onoffswitch-checkbox {
    display: none;
  }

  .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
  }

  .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
  }

  .onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }

  .onoffswitch-inner:before {
    content: "HAPPY";
	padding-left: 10px;
	background-color: #FF9933; color: #FFFFFF;
  }

  .onoffswitch-inner:after {
    content: "SAD";
	padding-right: 10px;
	background-color: #5f9ea0; color: #FCF9F9;
	text-align: right;
  }

  .onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
	background: #FAFAFA;
	border: 2px solid #999999; border-radius: 20px;
	position: absolute; top: 0; bottom: 0; right: 56px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
  }

</style>

<h1>Welcome, <%= current_user.first_name %>!</h1>
<div class="onoffswitch">
	<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
	<% if current_user.is_happy %>
		checked
	<% end %>
	>
    <label class="onoffswitch-label" for="myonoffswitch">
	  <span class="onoffswitch-inner"></span>
	  <span class="onoffswitch-switch"></span>
	</label>
</div>
<hr>
<section class = "home_body">
  <div id = "right_col">
	<h2>Happiness Question</h2>
	<hr>
	<%= render 'shared/happiness_question' %>
	<hr>
    <h2 id="happiness">Your Happiness Statistics</h3>
    <hr>
    <div id="happiness_graph" style="width:450px; height:300px; margin: 0 auto"></div>
    <hr>
	<h2>Recommended Activities</h2>
	<hr>
	<ul>
	  <% @recommended_activities.each do |recommended_activity| %>
		  <li><a href = "/track?str=<%= recommended_activity %>"><%= recommended_activity.capitalize %></a></li>
	  <% end %>
	</ul>

	<hr>
	<h2>Friends' Moods</h2>
	<hr>
	<ul>
	  <% @my_friends_recently_updated.each do |friend| %>
		  <li> 
		  <a href = "/profile/<%= friend.username %>"> <%= friend.username %></a>:
		  <%= friend.is_happy ? 'Happy' : 'Sad' %> 
		  <button type = "button" class = "ping_button" receiver_id = "<%= friend.id %>"> Ping </button>
		</li>
      <% end %>
    </ul>
	<hr>
	<h2>Recent Messages</h2>
	<hr>
	<ul>
      <% @recently_received_message_threads.each do |message| %>
		<% if message[:sender_sig] != current_user.username %>
		<li> 
		  <a href = "/profile/<%= message[:sender_sig] %>"> <%= message[:sender_sig] %></a>: <%= message[:content] %> 
		  <a href = "/inbox/<%= message[:sender_sig] %>">View more</a>
		</li>
	    <% end %>
      <% end %>
    </ul>
	<hr>
	<h2>Recent Challenges</h2>
	<hr>
	<ul>
	<% @my_received_challenges.each do |challenge| %>
		<li><%= render :partial => 'shared/challenge_home_entry', :locals => {:item=>challenge} %></li>
	<% end %>
    </ul>	
	<!--<ul>
	  <li> Joe challenged you to, "Eat a banana!" Accept, decline, etc.</li>
	  <--> 
	 <hr>
	</div>
<div id = "left_col">
	<h2>News Feed</h2>
	<hr>
	<article>
		<h3>Story 1</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
	</article><!-- /article -->
	<article>
		<h3>Story 2</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
	</article><!-- /article -->
	<article>
		<h3>Story 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
	</article><!-- /article -->

	<button>Load More News</button>
</div><!-- /section -->
</section>

<script>
	$(document).ready(function() {
	   toggleHeaderLayout();
       $('#myonoffswitch').change (function(e) {
	      happiness_status = $('#myonoffswitch').prop("checked");
	      console.log($("myonoffswitch").prop("checked"));
	      togglePageLayout();
	      toggleHeaderLayout();
	      $.post('/happiness_status/set', {'is_happy': happiness_status}); 
       });
    });
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = xhrHandler;
    var url = '/happiness_scores';
    xhr.open("GET", url, true); 
    xhr.send();
    function xhrHandler() {
        if (this.readyState != 4) {
            return;
        }
        if (this.status != 200) {
            return;
        }
        console.log("starting");
        console.log(this.responseText);
        json  = this.responseText;
        json = JSON.parse(json);
        var scores = [];
        for(score in json) {
            scores.push(parseFloat(json[score]['value']));
        }
        var cur = new Date(), start = cur.setDate(cur.getDate() -90);       
        new Highcharts.Chart({
            chart: {
                renderTo: 'happiness_graph',
                zoomType: 'x'
            },
            title: {
                text: 'Happiness Scores'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                'Click and drag in the plot area to zoom in' :
                'Pinch the chart to zoom in'
            },
            xAxis: {
                title: {
                    text: 'Scores Over Last 90 Days'
                },
                type: 'datetime',
                minRange: 1 * 24 * 3600000 // 1 day
            },
            yAxis: {
                title: {
                    text: "Happiness Score %",
                }
            },
            legend: {
                floating: false,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            series: [{
                name: "Score",
                type: 'areaspline',
                color: {
                    linearGradient: { x1: 0, x2: 0, y1: 0, y1: 1 },
                    stops: [
                        [0, '#b27300'], // darken
                        [1, '#FFA500']
                    ]
                },
                pointInterval: 24 * 3600 * 1000,
                pointStart: start,
                data: scores
            }]
        });
        console.log("happiness scores returned");
	}

	$(".ping_button").click(function() {
	  var curr_button = $(this);
	  $.post("/messages/new",
	  {
	    sender_id:<%= current_user.id %>,
		receiver_id: curr_button.attr("receiver_id"),
		content: "Hey! How's it going?"
	  },
	  function(data, status) {
		  curr_button.disabled = true;
	 });
	});
</script>
