<script>
	$(document).ready(function() {
		$('#create').click(function(e) {

			alert('create clicked');


			$.get("new", function(response) {
				$("#content").html(response);
			});

			pageurl = "new";
			if(pageurl!=window.location){
				window.history.pushState({path:pageurl},'',pageurl);
			}

			return false;
			/*
			e.preventDefault();
			
			//get the link location that was clicked
			pageurl = $(this).attr('href');
			alert(pageurl);

			//to change the browser URL to the given link location
			if(pageurl!=window.location){
				window.history.pushState({path:pageurl},'',pageurl);
			}
			
			//stop refreshing to the page given in
			return false;
			*/

		});
	});
</script>

<!--Login stuff-->
<!--
<div id="content">
	<p>Login to HapApp</p>
	<%= form_for @user, :url => { :action => "login" } do |f| %>
		<ul>
		  <li><label for="username">Username</label></li>
			<li><input type="text" id="username" name="username" required /></li>
			<li><label for="password">Password</label></li>
			<li><input type="password" id="password" name="password" required /></li>
			<li><input type="submit" id="login" value="Login" name="Log In" required /></li>
			<li><input type="checkbox" name="stayLoggedIn" value="yes">Remember me</li>
			<li><a href="">Forgot Password?</a></li>
		</ul>
	<% end %>
	<p>Not a member? <a href="" id="create">Get happy now!</a></p>
</div>
-->

<!DOCTYPE html>
<html>

<head>

  <!-- meta and title -->
  <meta charset="utf-8" />
  <title><%= @title %></title>

  <!-- css -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <!-- js -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery" %>
  

  <%= csrf_meta_tags %>
</head>

<body>
<div class="wrapper">

  <header>
    <div class="container clearfix">
      <div class="logo">
        <a href="#">
          <img src="" alt="HapApp">
        </a>
      </div><!-- /.logo -->
    </div><!-- ./container -->
  </header>

  <main>
    <div class="container">
      <h1>Sign in</h1>

      <div>
      <%= form_for(:session, url: sessions_path) do |f| %>
      	<%= render 'shared/error_messages' %>

      	<%= f.label :username %>
          <%= f.text_field :username, :required => true %>

          <%= f.label :password %>
          <%= f.password_field :password, :required => true  %>

          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      <% end %>
      <div>
      <!-- <p>Not a member? <a href="" id="create">Get happy now!</a></p> -->
      <br><br><br><br>

      	
      <!--Create account stuff-->
      <div class="row">
        <div class="span6 offset3">
      	  <%= form_for(@user) do |f| %>
      	  	<%= render 'shared/error_messages' %>
              <ul>
      		  <li>
      		     <%= f.label :first_name %>
      		     <%= f.text_field :first_name, :required => true %>
      	      </li>

      		  <li>
      		     <%= f.label :last_name %>
      		     <%= f.text_field :last_name, :required => true %>
                </li>

      		  <li>
      	         <%= f.label :username %>
      		     <%= f.text_field :username, :required => true %>
                </li>

      		  <li>
      		     <%= f.label :email %>
      	         <%= f.text_field :email, :required => true %>
                </li>

      		  <li>
      		     <%= f.label :password %>
      		     <%= f.password_field :password, :required => true %>
                </li>

      		  <li>
      		     <%= f.label :password_confirmation, "Confirmation" %>
      		     <%= f.password_field :password_confirmation, :required => true %>
                </li>

      		  <li>
      		     <%= f.submit "Get Happy!", class: "btn btn-large btn-primary" %>
      	      </li>	 
      	  </ul>
      	<% end %>
        </div>
      </div>
    </div><!-- /.container -->
  </main><!-- /main -->

  <footer>
    <div class="container">
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Other Info?</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </nav><!-- /nav -->
      <div class="copyright">
        <small>&copy; 2014, HapApp</small>
      </div>
    </div><!-- /.container -->
  </footer><!-- /footer -->

</div><!-- /.wrapper -->

</body>

</html>