<%= @users %>

<!--Login stuff-->
<p>Login to HapApp</p>
<form method="post">
	<ul>
		<li><label for="username">Username</label></li>
		<li><input type="text" id="username" name="username" required /></li>
		<li><label for="password">Password</label></li>
		<li><input type="password" id="password" name="password" required /></li>
		<li><input type="submit" id="login" value="Login" name="Log In" required /></li>
		<li><input type="checkbox" name="stayLoggedIn" value="yes">Remember me</li>
		<li><a href="">Forgot Password?</a></li>
	</ul>
</form>
<p>Not a member? <a href="">Get happy now!</a></p>
<br><br><br><br>

	
<!--Create account stuff-->
div class="row">
  <div class="span6 offset3">
	  <%= form_for(@user) do |f| %>
        <ul>
		  <li>
		     <%= f.label :first_name %>
		     <%= f.text_field :first_name %>
	      </li>

		  <li>
		     <%= f.label :last_name %>
		     <%= f.text_field :last_name %>
          </li>

		  <li>
	         <%= f.label :username %>
		     <%= f.text_field :username %>
          </li>

		  <li>
		     <%= f.label :email %>
	         <%= f.text_field :email %>
          </li>

		  <li>
		     <%= f.label :password %>
		     <%= f.password_field :password %>
          </li>

		  <li>
		     <%= f.label :password_confirmation, "Confirmation" %>
		     <%= f.password_field :password_confirmation %>
          </li>

		  <li>
		     <%= f.submit "Get Happy!", class: "btn btn-large btn-primary" %>
	      </li>	 
	  </ul>
	<% end %>
  </div>
</div>
<!--<form method="post">
	<ul>
		<li><label for="firstname">First Name</label></li>
		<li><input type"text" id="firstname" name="firstname" required /></li>
		<li><label for="lastname">Last name</label></li>
		<li><input type="text" name="lastname" required></li>
		<li><label for="username">Username</label></li>
		<li><input type="text" name="username" required></li>
		<li><label for="password">Password</label></li>
		<li><input type="password" name="password" required></li>
		<li><input type="submit" value="Get Happy!"></li>
	</ul>
</form>-->
