<script>
  $(document).ready(function() {
    $("#add-friend").click(function(e) {
      $.post("/friend_request/create", {
        user_id: "<%= current_user.id %>",
        friend_id: "<%= @viewed_user.id %>"
      });
      e.preventDefault();
	  document.getElementById("add-friend").innerHTML = "Friend added!";
	  $("#add-friend").hide();
	  document.getElementById("add-friend").disabled = true;
	  $("#add-friend").parent().append("<span> (request pending) </span>");
    });
  });
</script>

<div class="profile-name">
  <h1>
    <%= @viewed_user.first_name %> <%= @viewed_user.last_name %>
    <% if !@friend_request_exists %>
      <button id="add-friend" class="secondary-button">Add Friend</button>
    <% else %>
      <span> (request pending) </span>
    <% end %>
  </h1>
</div>
<div class="profile-left-column">
  <div id="profile-mood">
    <h1>Happiness</h1>
  </div>
  <div id="profile-activities">
    <h1>Activities</h1>
  </div>
  <div id="profile-friends">
    <h1>Friends</h1>
  </div>
  <div id="profile-challenges">
    <h1>Challenges</h1>
  </div>
  <div id="profile-messages">
    <h1>Messages</h1>
  </div>
</div>
<div class="profile-right-column">
	<h1>Recent</h1>
	<p><%= @viewed_user.username %>'s recent activities are shown only to friends.</p> 
</div>
