<div class = "challenge">
  <% challenge = item[:challenge]
      sender = item[:sender]
	  receiver = item[:receiver]
	  time = item[:timestamp]
	  activity_type = item[:activity_type]
	  status = challenge.status %>

	  <p> 
	    <a href = "/profile/<%= sender.username %>"><%= sender.username %></a>
		challenged 
        <a href = "/profile/<%= receiver.username %>"> <%= receiver.username %></a>:
	  </p>
	  <p class = "challenge_content" >
		"<%= challenge.content.capitalize %><% if activity_type != nil %>
		  <a href = "/track?str=<%= activity_type.name %>">#<%= activity_type.name %></a><% end %>" 
      </p>
	  <% if status == 2 %>
	  <p class = "challenge_content">Currently active</p><button id="completed-challenge<%= challenge.id %>" class="completed-challenge-btn" data-challengeid="<%= challenge.id %>">Completed!</button>
	  <% elsif status == 4 %>
	  <p class = "challenge_content">Completed</p>
      <% else %>
	  <div class = "challenge_content">
	  <button id="accept-challenge<%= challenge.id %>" class="accept-challenge-btn" data-challengeid="<%= challenge.id %>">Accept</button>
	  <button id="decline-challenge<%= challenge.id %>" class="decline-challenge-btn" data-challengeid="<%= challenge.id %>">Decline</button>
      </div>
      <% end %>
</div>


<script>
  $(document).ready(function() {
	$(".accept-challenge-btn").click(function(e) {
	  alert("accepting");
	  var id = $(this).attr("id");  
	  var challenge_id = $(this).data("challengeid");
	  alert(challenge_id);
	  $.ajax({
		url: "/challenges/accept",
		type: "post",
		async: false,
		data: {
		  challenge_id: challenge_id
		}
	  });
	  e.preventDefault();
	  location.reload();
	});

	$(".decline-challenge-btn").click(function(e) {
	  alert("declining");
	});

	$(".completed-challenge-btn").click(function(e) {
	  alert("completed");
	  var id = $(this).attr("id");
	  var challenge_id = $(this).data("challengeid");
	  alert(challenge_id);
	  $.ajax({
		url: "/challenges/complete",
		type: "post",
		async: false,
		data: {
		  challenge_id: challenge_id
		}
	  });
	  e.preventDefault();
	  location.reload();
	});
  });
</script>
