<h3>Welcome to the Happiness Quiz!<h3>
<!-- Put top potion in title -->
<h3>Let's Gauge Your Current Happiness</h3>
<h4>Instructions:</h4>
<p>Please fill in the quiz below by answering as many questions as you want.<br>
Below are a number of statements about happiness.<br>
Please indicate how much you agree or disagree with each statement by placing the slider at a position on the scale.
</p>
<p>The scale goes from 1 to 6 with the following options.</p>
<ul>
    <li>1: Strongly Disagree</li>
    <li>2: Moderately Disagree</li>
    <li>3: Slightly Disagree</li>
    <li>4: Slightly Agree</li>
    <li>5: Moderately Agree</li>
    <li>6: Strongly Agree</li>
</ul>
<%= form_tag("/quiz_handler", method: "post") do %>
    <% count = 1 %>
    <% for question in @questions do %>
        <%= count %>) <%= question %> <br>
        1<%= range_field(:question1, in: 1..6) %>6<br>
        <!-- may not want to use this form because it does not store as integer, but better becaus eit is a continuous scale. -->
        <% count += 1 %>
    <% end %>
    <%= submit_tag("Submit Quiz") %>
<% end %>
