<div class="challenge-list-heading">
  <h1>My Challenges</h1>
</div>

<div class="table-div">
	<h1> Pending Challenges </h1>
	<div id="pendingChallengesTable" class="goalTable">
	  <ul class = "column-headings">
	    <li>Username</li>
		<li>Message</li>
		<li>Activity</li>
		<li>Accept/Decline</li>
	  </ul>	  
	  <ul class="goal-list">
      <% @pending_challenges.each do |item| %>
    <% challenge = item[:challenge]
    sender = item[:sender]
    receiver = item[:receiver]
    time = item[:timestamp]
	status = challenge.status
	activity_type = item[:activity_type].name.capitalize()
    # status:
    # 1 = pending
    # 2 = accepted
    # 3 = declined
	# 4 = completed
    %>

    <li>
	  <a href="/profile/<%= sender.username %>"><%= sender.first_name %> <%= sender.last_name %></a></p>
	  </li>
	  <li>
	    <%= challenge.content %>
		</li>
		<li>
		<% if activity_type != nil %>
			<a href = "/track?str=<%= activity_type %>"> <%= activity_type %> </a>
		<% else %>
			--
		<% end %>
		</li>
		<li>
        <button id="accept-challenge<%= challenge.id %>" class="accept-challenge-btn secondary-button" data-challengeid="<%= challenge.id %>">Accept</button>
        <button id="decline-challenge<%= challenge.id %>" class="decline-challenge-btn secondary-button" data-challengeid="<%= challenge.id %>">Decline</button>
	    </li>
  <% end %>
</ul>

<div class="table-div">
	<h1> Active Challenges </h1>
	<div id="pendingChallengesTable" class="goalTable">
	  <ul class = "column-headings">
	    <li>Username</li>
		<li>Message</li>
		<li>Activity</li>
		<li>Completed</li>
	  </ul>	  
	  <ul class="goal-list">
      <% @active_challenges.each do |item| %>
    <% challenge = item[:challenge]
    sender = item[:sender]
    receiver = item[:receiver]
    time = item[:timestamp]
	status = challenge.status
	activity_type = item[:activity_type].name.capitalize()
    # status:
    # 1 = pending
    # 2 = accepted
    # 3 = declined
	# 4 = completed
    %>

    <li>
	  <a href="/profile/<%= sender.username %>"><%= sender.first_name %> <%= sender.last_name %></a></p>
	  </li>
	  <li>
	    <%= challenge.content %>
		</li>
		<li>
		<% if activity_type != nil %>
			<a href = "/track?str=<%= activity_type %>"> <%= activity_type %> </a>
		<% else %>
			--
		<% end %>
		</li>
		<li>
		<button id="complete-challenge<%= challenge.id %>" class="completed-challenge-btn secondary-button" data-challengeid="<%= challenge.id %>">Completed</button>
		</li>
  <% end %>
</ul>
<div class="table-div">
	<h1> Completed Challenges </h1>
	<div id="completedChallengesTable" class="goalTable">
	  <ul class = "column-headings">
	    <li>Username</li>
		<li>Message</li>
		<li>Activity</li>
		<li>Date Completed</li>
	  </ul>	  
	  <ul class="goal-list">
      <% @completed_challenges.each do |item| %>
    <% challenge = item[:challenge]
    sender = item[:sender]
    receiver = item[:receiver]
    time = item[:timestamp]
	status = challenge.status
	activity_type = item[:activity_type].name.capitalize()
    # status:
    # 1 = pending
    # 2 = accepted
    # 3 = declined
	# 4 = completed
    %>

    <li>
	  <a href="/profile/<%= sender.username %>"><%= sender.first_name %> <%= sender.last_name %></a></p>
	  </li>
	  <li>
	    <%= challenge.content %>
		</li>
		<li>
		<% if activity_type != nil %>
			<a href = "/track?str=<%= activity_type %>"> <%= activity_type %> </a>
		<% else %>
			--
		<% end %>
		</li>
		<li>
		  <%= time.strftime("%b %d, %l:%M %P") %>
		</li>
  <% end %>
</ul>
<script>
  $(document).ready(function() {
    $(".accept-challenge-btn").click(function(e) {
      //alert("accepting");
      var id = $(this).attr("id");  
      var challenge_id = $(this).data("challengeid");
      //alert(challenge_id);

      $.ajax({
        url: "/challenges/accept",
        type: "post",
        async: false,
        data: {
          challenge_id: challenge_id
        }
      });
      e.preventDefault();
      location.reload();
    });

    $(".decline-challenge-btn").click(function(e) {
      alert("declining");
      var id = $(this).attr("id");
      var challenge_id = $(this).data("challengeid");

      $.ajax({
        url: "/challenges/decline",
        type: "post",
        async: false,
        data: {
          challenge_id: challenge_id
        }
      });
      e.preventDefault();
      location.reload();
    });

    $(".completed-challenge-btn").click(function(e) {
      //alert("completed");
      var id = $(this).attr("id");
      var challenge_id = $(this).data("challengeid");
      //alert(challenge_id);

      $.ajax({
        url: "/challenges/complete",
        type: "post",
        async: false,
        data: {
          challenge_id: challenge_id
        }
      });
      e.preventDefault();
      location.reload();
    });
  });
</script>
