<div class="goals-heading">
  <h1>
    <% if @user == current_user %>
      My
    <% else %><%= @user.username %>'s
  <% end %> 
    Goals
  </h1>
</div>

<div class="table-div">
  <h1>Active Goals</h1>
  <div id="activeGoalTable" class="goalTable">
    <ul class="column-headings">
      <li>Activity</li>
      <li>Measurement</li>
      <li>Due</li>
      <li>Abandon goal</li>
    </ul>
    <% @active_goal_hashs.each do |hash| %>
    <ul class="goal-list">
			<li><%= hash[:activity_name] %></li>
      <li><%= hash[:measurement_value] %> <%= hash[:measurement_name] %></li>
      <li><%= hash[:due].strftime("%b %d, %l:%M %P") %></li>
			<li><a href="/goals/abandon/<%= hash[:id] %>"><button class="secondary-button">Abandon</button></a></li>
		</ul>
    <% end %>
  </div>
</div>
<div class="table-div">
  <h1>Completed Goals</h1>
  <div id="completedGoalTable" class="goalTable">
    <ul class="column-headings">
      <li>Activity</li>
      <li>Measurement</li>
      <li>Due</li>
      <li>Completed</li>
    </ul>
    <% @completed_goal_hashs.each do |hash| %>
    <ul class="goal-list">
	  <li><%= hash[:activity_name] %></li>
      <li><%= hash[:measurement_value] %> <%= hash[:measurement_name] %></li>
      <li><%= hash[:due] %></li>
      <li><%= hash[:completed_on] %></li>
	  </ul>
    <% end %>
  </div>
</div>
